<header>
  <a href="../"><h1>Autocar</h1></a>
  <form class="search">
    <input type="text" placeholder="search"/>
    <input type="submit" class="hidden"/>
  </form>
  <nav>
    <ul>
      <li>About</li>
      <li>Pricing</li>
      <li>Support</li>
    </ul>
  </nav>
</header>

<nav class="chapter-nav">
  <ul>
    <li>
      <a href="#chapter-1">
        <span class="index">1</span>
        <div class="reveal">
          <span class="title">Summary</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-2">
        <span class="index">2</span>
        <div class="reveal">
          <span class="title">Design and Engineering</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-3">
        <span class="index">3</span>
        <div class="reveal">
          <span class="title">Interior</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-4">
        <span class="index">4</span>
        <div class="reveal">
          <span class="title">Performance</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-5">
        <span class="index">5</span>
        <div class="reveal">
          <span class="title">Ride &amp; handling</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-6">
        <span class="index">6</span>
        <div class="reveal">
          <span class="title">Buying &amp; owning</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-7">
        <span class="index">7</span>
        <div class="reveal">
          <span class="title">Datalog</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#chapter-8">
        <span class="index">8</span>
        <div class="reveal">
          <span class="title">Verdict</span>
        </div>
      </a>
    </li>
  </ul>
</nav>

<div id="main" class="article-page">

  <section class="full-bleed heading lead-image">

    <div class="text-overlay">
      <h1>Mercedes-Benz A45 AMG</h1>
      <p class="byline">Etiam porta sem malesuada magna mollis euismod.</p>
    </div>

  </section>

  <section class="fact-list">
    <div class="tested">
      <div class="title">Model tested</div>
      <div class="model">A45 AMG 4Matic</div>
    </div>
    <ul>
      <li><strong>Price</strong>£37,845</li>
      <li><strong>Power</strong>355bhp</li>
      <li><strong>Torque</strong>322lb ft</li>
      <li><strong>0-60mph</strong>5.2sec</li>
      <li><strong>Fuel economy</strong>27.2mpg</li>
      <li><strong>CO2 emissions</strong>161g/km</li>
      <li><strong>70-0mph</strong>45.4m</li>
    </ul>
  </section>

  <section class="contain summary chapter" id="chapter-1">

    <p>A few words in the Mercedes- Benz literature that accompanies the A45 AMG tell you much about the thinking behind this car: the target audience is drivers aged between 30 and mid- 40s. A great deal younger than your typical AMG buyer, or any other super-saloon buyer, in other words.</p>

    <div class="g-row g-pad">
      <div class="g-3-4">
        <p>The A45 – the most powerful hot hatchback yet built, and with currently the most powerful four- cylinder engine in production – is meant to open up AMG to a host of potential fans who have hitherto been denied access to the high- priced, usually V8-powered cars from Mercedes’sporting arm. It’ll also add extra gravitas to styling kits and trim levels featuring AMG badging.</p>

        <blockquote>
          The most powerful 4-cylinder engine in production
        </blockquote>

        <p>So not only is the A45 a different kind of AMG product, but it’s also a different kind of hot hatch. With a part-time four-wheel drive system and a starting price of £37,845, it’s an expensive hot hatch. And with 355bhp, it’s a powerful hot hatch. Over the next eight pages, we’ll find out if it’s also a compelling hot hatch. It will have to be if it is to justify its £12,000 premium over a Renault Mégane 265 Cup, our current favourite hot hatch.</p>
      </div>
      <div class="g-1-4">
        <div class="list">
          <h3>We like</h3>
          <ul>
            <li>Ludicrous speed once you’re rolling</li>
            <li>Massive and marvellous grip</li>
            <li>Overall usability</li>
          </ul>
        </div>
        <div class="list">
          <h3>We don't like</h3>
          <ul>
            <li>Ultimate lack of adjustability</li>
            <li>Anonymous-sounding engine</li>
            <li>Huge price</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="contain is-paywalled chapter" id="chapter-2">
    <p>Chapter 2</p>
  </section>

  <section class="contain is-paywalled chapter" id="chapter-3">
    <p>Chapter 3</p>
  </section>

</div>