<header>
  <a href="../"><h1>Autocar</h1></a>
  <form class="search">
    <input type="text" placeholder="search"/>
    <input type="submit" class="hidden"/>
  </form>
  <nav>
    <ul>
      <li>About</li>
      <li>Pricing</li>
      <li>Support</li>
    </ul>
  </nav>
</header>

<nav class="chapter-nav">
  <ul>
    <li>
      <span class="index">1</span>
      <div class="reveal">
        <span class="title">Summary</span>
      </div>
    </li>
    <li>
      <span class="index">2</span>
      <div class="reveal">
        <span class="title">Design and Engineering</span>
      </div>
    </li>
    <li>
      <span class="index">3</span>
      <div class="reveal">
        <span class="title">Interior</span>
      </div>
    </li>
    <li>
      <span class="index">4</span>
      <div class="reveal">
        <span class="title">Performance</span>
      </div>
    </li>
    <li>
      <span class="index">5</span>
      <div class="reveal">
        <span class="title">Ride &amp; handling</span>
      </div>
    </li>
    <li>
      <span class="index">6</span>
      <div class="reveal">
        <span class="title">Buying &amp; owning</span>
      </div>
    </li>
    <li>
      <span class="index">7</span>
      <div class="reveal">
        <span class="title">Datalog</span>
      </div>
    </li>
    <li>
      <span class="index">8</span>
      <div class="reveal">
        <span class="title">Verdict</span>
      </div>
    </li>
  </ul>
</nav>

<div id="main" class="article-page">

  <section class="contain heading">

    <h1>Mercedes-Benz A45 AMG</h1>
    <p class="byline">Etiam porta sem malesuada magna mollis euismod.</p>

  </section>

  <section class="full-bleed lead-image">
    <img src="article/photos/A45_AMG_STU_003.jpg"/>
  </section>

  <section class="contain summary g-row g-pad chapter">
    <div class="g-3-5">
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.</p>

      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
    </div>
    <div class="g-2-5">
      <div class="list">
        <h3>Facts &amp; figures</h3>
        <ul>
          <li>Price <strong>£37,845</strong></li>
          <li>Power <strong>355bhp</strong></li>
          <li>Torque <strong>322lb ft</strong></li>
          <li>0-60mph <strong>5.2sec</strong></li>
          <li>Fuel economy <strong>27.2mpg</strong></li>
          <li>CO2 emissions <strong>161g/km</strong></li>
          <li>70-0mph <strong>45.4m</strong></li>
          <li>Skidpan <strong>0.97g</strong></li>
        </ul>
      </div>
      <div class="list">
        <h3>We like</h3>
        <ul>
          <li>Ludicrous speed once you’re rolling</li>
          <li>Massive and marvellous grip</li>
          <li>Overall usability</li>
        </ul>
      </div>
      <div class="list">
        <h3>We don't like</h3>
        <ul>
          <li>Ultimate lack of adjustability</li>
          <li>Anonymous-sounding engine</li>
          <li>Huge price</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="contain is-paywalled chapter">

  </section>

</div>