#main.article-page {
  border-top: 1px solid @c-lightgrey;
  min-height: 1080px;
  padding: 0 0 50px 0;
  background: @c-lightgrey;
  font-size: 1.2em;

  .contain {
    width: 1000px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    display: block;
  }

  p {
    line-height: 1.5em;
    margin: 1em auto 30px;
    font-weight: 300;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  section {
    padding: 0;
  }
  .rating-large {
      display: block;
      width: 100px;
      background: url(../img/stars_big.png) no-repeat center left;
      background-size: 100%;
      height: 22px;
      margin: 20px 0 20px 0;
    }

  .chapter {

    h2 {
      margin-bottom: 30px;
      font-size: 2em;
      font-weight: 300;
    }

    &> img {
      float: right;
      width: 50%;
      margin: 0 -100px 40px 40px;
    }
  }

  .heading {
    position: relative;
    text-align: center;
    padding-top: 30%;
    background: url(../../article/photos/A45_AMG_STU_003.jpg) no-repeat fixed;
    background-size: 100%;
    background-position: 0 -190px;

    .text-overlay {
      position: absolute;
      top: 40%; left: 50%;
      width: 1000px;
      margin: -80px 0 0 -500px;
      color: @c-white;
      padding: 30px;
      text-shadow: 0px 1px 10px rgba(0,0,0,0.5)
    }

    h1 {
      font-size: 3.5em;
    }
    .byline {
      font-size: 1.6em;
      font-weight: 600;
      margin: 0;
    }
  }

  .summary {
    & > p:first-child {
      font-size: 1.2em;

      &:first-letter { 
        float: left;
        color: @c-red;
        font-size: 2.99em;
        line-height: 1em;
        padding: 0 10px 0 0;
      }
    }
  }

  .lead-image {
    position: relative;
    width:100%;
    max-height:600px;
    overflow:hidden;
    vertical-align: middle;

    .text-overlay {
      h2 {
        font-size:3em;
        padding:1em;
        position:absolute;
        width:100%;
        text-align:center;
        left:0;
        top:30%;
        color:#fff;
        text-shadow: 0px 1px 10px rgba(0,0,0,0.8);
        font-weight: 800

      }
    }
    img {
      margin-top:-15%;
      width: 100%;
    }
  }

  .shift-right {
    box-shadow: 1px 1px 71px 41px white;
    z-index:0
  }

  .sidebar {
    font-size: 0.8em;
    padding: 20px;
    background: @c-lightblue;
    height:100%;
    z-index:10;
    position: relative;
  }

  .box-out {
    background: @c-white;
    padding: 30px 10px;

    small {
      display: block;
      margin: 0 0 10px 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .ad-panel {
    background: @c-white;
    padding: 10px;
    margin: 20px 0;
    font-size: 0.8em;
  }

  .fact-list {
    .cf;
    background: @c-darkgrey;
    color: @c-white;
    padding: 30px 0 30px 0;
    position: relative;

    ul {
      width: 1000px;
      margin: 0 auto;
      text-align: center;

      li {
        display: inline-block;
        margin: 20px 30px 0 0;
        font-weight: 300;
        text-align: center;

        strong {
          display: block;
          font-weight: 600;
          text-transform: uppercase;
        }

      }
    }
    .tested {
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -200px;

      &>div {
        float: left;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 800;
      }
      .title {
        background: @c-red;
        color: @c-white;
      }
      .model {
        color: @c-black;
        background: @c-yellow;
      }
    }
  }

  .list {
    padding: 10px;
	background: #fff;

    h3 {
      display: block;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        font-weight: 300;
        margin-bottom: 10px;
        font-weight: 600;
		font-size: 0.8em;
		list-style: disc;
		margin-left: 20px;
		color:#999;

        strong {
          float: right;
        }
      }
    }
  }

  blockquote {
    float: left;
    margin: 5px 30px 20px -80px;
    width: 55%;
    border-right: 1px solid @c-red;
    font-size: 1.5em;
    font-weight: 300;
    color: @c-red;
    font-style: italic;
    text-align: right;
	padding-right: 1em;
	
  }

  section.video {
    h2 {
      margin: 30px 0 20px 0;
    }
    padding-bottom: 80px;
  }

  .video-placeholder {
    width: 100%;
    height: 500px;
    background: @c-mediumgrey;
    margin: 10px 0;
  }

}

nav.chapter-nav {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 700px;
  color: @c-white;
  background: @c-darkgrey;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    .cf;
    border-bottom: 1px solid @c-white;
    .animate(0.2s,0);

    &.active {
      background: @c-red;
    }

    &:hover {
      cursor: pointer;
      background: @c-red;
      .animate(0.2s,0);
      cursor: pointer;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  span.title {
    position: relative;
    display: none;
    float: left;
    height: 30px;
    width: 240px;
    padding: 20px 0 20px 0;
    line-height: 1em;

    &:after {
      content: '';
      position: absolute;
      right: 20px; top: 22px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent @c-white;
    }
  }

  span.index {
    display: block;
	float: left;
	padding: 10px;
	color: #ffffff;
	font-size: 1.8em;
	font-weight: 300;
	opacity: 0.5;
	width:40px
  }

  .reveal {
    float: left;
    opacity: 0;
    width: 0;
      -webkit-transition: width 0.3s 0.2s ease, opacity 0.2s 0 ease;
  }

  &:hover {
    .title {
      display: block;
    }
    .reveal {
      opacity: 1;
      width: 240px;
      -webkit-transition: width 0.3s 0 ease, opacity 0.2s 0.2s ease;
    }
  }

}

section.paynow {
  .cf;
  background: @c-white;
  padding: 30px;
  margin: 50px auto !important;

  .btn {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 0.8em;
    padding: 10px;

    .icon {
      display: inline-block;
      margin-right: 10px;
    }
  }

  p {
    clear: both;
    display: block;
    padding-top: 10px;  
  }

}

nav.paywall-nav {
  display: block;
  position: relative;
  li {
    .cf;
    background: @c-mediumgrey;
    border-bottom: 1px solid @c-grey;
    color: @c-white;

    &:first-of-type {
      background: @c-darkgrey;
    }
  }
  .icon {
    float: right;
  }
  span {
    display: block;
    float: left;
    padding: 10px;
  }
  .reveal {
    display: block;
    opacity: 1;
  }
}

.is-paywalled {
  opacity: 0.5;

  img {
    opacity: 0.3;
  }

  .chapter p {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

}

.quick-search {
  position: relative;

  input {
    position: relative;
  }

  .clear-search {
    position: absolute;
    color: @c-black;
    right: 10px;
    top: 10px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .quick-results {
    background: @c-white;
    padding: 20px;
    border: 1px solid @c-lightgrey;
    color: @c-darkgrey;
    font-size: 0.8em;

    a {
      color: @c-darkgrey;

      .title:hover {
        text-decoration: underline;
      }
    }

    .result {
      .cf;
      margin-bottom: 20px;
    }

    .year {
      float: right;
      width: 10%;
    }
    .title {
      float: left;
      width: 75%;
    }

  }

}





